body {
    background-color: gray;
}

.btn {
    display: inline-block;
    padding: 20px;
    background-color: bisque;
    color: darkolivegreen;
    font-size: 30px;

    /* transition-property: background-color, padding;
    transition-duration: 500ms, 1s;
    transition-delay: 100ms;
    transition-timing-function: ease-in-out; */

    transition: background-color 500ms ease-out, padding 800ms;

}

.btn:hover {
    background-color: rgba(255, 235, 205, 0.658);
    padding-left: 30px;
    padding-right: 30px;
}