body {
    background-color: gray;
}

.container {
    display: grid;
    padding: 10px;
    color: white;
    background-color: bisque;

    grid-template-areas: "a2 a2 a2 a2 a2 a2"
                         "a1 a1 a3 a3 a3 a3"
                         "a1 a1 a5 a4 a4 a4"
                         "a6 a6 a6 a6 a6 a6"

}

.r1 {
    background-color: red;
}

.r2 {
    background-color: blue;
}

.r3 {
    background-color: green;
}

.item1 {

    grid-area: a1;
}

.item2 {
    grid-area: a2;
}

.item3 {
    grid-area: a3;
}

.item4 {
    grid-area: a4;
}

.item5 {
    grid-area: a5;
}

.item6 {
    grid-area: a6;
}