* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --section-bg: #290742;
    --line-color: #4FFF4B;
    --input-bg: #170027;
    --placeholder-color: #FBF6FF;
    --image-bg: linear-gradient(104.9deg, rgba(239, 35, 243, 0.7) -2.03%, rgba(195, 38, 228, 0.7) 27.04%, rgba(139, 42, 209, 0.7) 67.97%, rgba(92, 44, 193, 0.7) 107.39%);
    --tittle-color: #9E6DC2;
    ;

}

body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

main {
    max-width: 1441px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

section {
    background-color: var(--section-bg);
    padding: 64px 135px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    border-bottom: 6px solid var(--line-color);
}

section header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: white;
}

header h1 {
    font-size: 32px;
    font-weight: 00;
    letter-spacing: 2px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    list-style: none;
}

header nav ul li a {
    font-size: 18px;
    letter-spacing: 1px;
}

ul li a {
    text-decoration: none;
    color: white;
}

/* .active, .btn:hover {
    background-color: #666;
    color: white;
  } */

header nav ul li a::before {
    content: '';
    display: block;
    height: 0px;
    width: 0px;
    position: absolute;
    opacity: 0;
    transition: all .5s;
    transform: translateX(-180%);
    border: 1px solid var(--line-color);
}

header nav ul li a:hover::before {
    opacity: 1;
    height: 16px;
}

header .burger {
    display: none;
}

input {
    width: 300px;
    height: 44px;
    padding: 14px 0 14px 25px;
    font-size: 18px;
    background: var(--input-bg);
    border: none;
    border-radius: 5px;
    outline: none;
    color: white;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
}

input::placeholder {
    color: var(--placeholder-color);
    font-size: 14px;
}

.search-icon {
    width: 70px;
    height: 43px;
    background: var(--tittle-color);
    display: flex;
    justify-content: center;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-icon img {
    width: 24px;
    cursor: pointer;
}

.section-in {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-in .fr-div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.section-in .fr-div-in {
    padding-right: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    letter-spacing: 1px;
}

.section-in h1 {
    font-size: 35px;
    color: var(--tittle-color);
}

.section-in .fr-div p {
    color: var(--placeholder-color);
    letter-spacing: 1px;
}

.section-in .fr-div .see-more {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 1rem;
}

.section-in .fr-div .see-more p {
    font-weight: 600;
    color: var(--tittle-color);
}

container {
    background: var(--placeholder-color);
    padding: 60px 136px;
}

container .cont-fr {
    display: flex;
    justify-content: space-between;
    gap: 130px;
}

container .cont-fr, .section h2, p {
    color: var(--input-bg);
    letter-spacing: .5px;
}

container .cont-fr .cont-fr-in {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

container .cont-sc {
    display: flex;
    flex-direction: column;
    gap: 49px;
}

container .cont-sc .cont-sc-fr {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

container .cont-sc .cont-sc-fr-sc {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

container .section {
    width: fit-content;
    margin: 64px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

container .section .sec-in {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Media Queries */
@media (max-width: 1300px) {
    container .section {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media (max-width: 1210px) {

    header .burger {
        display: block;
        cursor: pointer;
    }

    container .cont-fr {
        flex-wrap: wrap;
    }

    header nav ul {
        width: 250px;
        height: 420px;
        background: linear-gradient(to top, var(--input-bg), var(--section-bg), var(--tittle-color));
        position: absolute;
        right: 0;
        top: 115px;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-right: 8rem;
        border-radius: 10px;
    }

    header nav ul li a {
        font-size: 24px;
    }

    .section-in, .section-in .fr-div-in {
        padding-right: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 998px) {
    container .section {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 846px) {

    main {
        width: 100%;
    }

    header nav ul {
        margin-right: 60px;
    }

    section {
        padding: 60px;
    }

    .input {
        display: none;
    }

    container .cont-fr {
       justify-content: center;
    }

}


@media (max-width:  600px) {

    header nav ul {
        margin-right: 50px;
    }

    section {
        padding: 60px 40px;
    }

    .big-image {
        width: 450px;
    }

    container {
        padding: 50px 30px;
    }

    container .cont-fr {
        gap: 20px;
    }
}

@media(max-width: 480px) {
    .big-image {
        width: 400px;
    }
}

@media(max-width: 438px) {

    .logo a img {
        width: 120px;
    }

    h1 {
        font-size: 18px;
    }

    header nav ul {
        width: 100%;
        margin: 0;
    }

    section {
        padding: 60px 20px;
    }

    .big-image, .sec-in img {
        width: 200px;
    }    

    .fr-div, .fr-div-in, .sec-in, .cont-fr, .cont-fr-in {
        text-align: center;
        align-items: center;
    }
}