body {
    background-color: gray;
}

.container {
    display: flex;

    background-color: bisque;
    height: 400px;
    color: white;
}

.r1 {
    background-color: red;
}

.r2 {
    align-self: center;
    background-color: blue;
}

.r3 {
    background-color: green;
}

.rect {
    width: 150px;
    height: 100px;

}