body {
    background-color: gray;
}

.container {
    display: flex;
    flex-direction: row;

    background-color: bisque;
    height: 400px;
    color: white;
}

.r1 {
    background-color: red;
}

.r2 {
    background-color: blue;
}

.r3 {
    background-color: green;
}

.rect {
    width: 100px;
    height: 100px;
    
}