@keyframes changeColor {
    0% {background-color: red; width: 200px;}
    25% {background-color: yellowgreen;}
    50% {background-color: yellow; width: 400px;}
    100% {background-color: blue; width: 200px;}
}

@keyframes move {
    0% {left: 0px;}
    100% {left: 300px;}
}

body {
    background-color: gray;
}

.box {
    position: relative;
    width: 200px;
    height: 200px;
    
    animation: changeColor 3s linear 0s 1 forwards;
}

.div1 {
    animation-timing-function: linear;
}
.div2 {
    animation-timing-function: ease;
}
.div3 {
    animation-timing-function: ease-in;
}
.div4 {
    animation-timing-function: ease-out;
}
.div5 {
    animation-timing-function: ease-in-out;
}