<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">

    <%- include('../partials/header', {page: 'About'}); %>

    <main class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">About me</h1>
            <p class="lead">
                Hello my name is Inacio Raimundo, computer science student in Russia university.
            </p>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>

</html>