body {
  /* background-image: url(./assets/bg-mode.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; */

  /* background: color image repeat position/size */
  background: url(./assets/bg-mode.jpg) no-repeat top center/cover;
}

#container {
  width: 360px;
  height: 712px;
  border: 1px solid #fff;
  margin: auto;
}

#profile {
  text-align: center;
}

#profile img {
  width: 112px;
}