body {
    background-image: url(../image/bg.jpg);
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

.container {
    /* background: linear-gradient(90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.2) 75%,
    rgba(255, 255, 255, 0) 100%,);
    box-shadow: 0 0 25px rgba(0, 0, 0, 1), inset 0 0 0.5px rgba(255, 255, 255, 10); */
    width: 800px;
    margin: 30px auto;
    color: white;
    text-align: center;
    padding-top: 10%;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
}

.minutos,
.segundos,
.milissegundos {
    font-size: 2.5em;
}

button {
    width: 180px;
    padding: 18px 10px;
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
    background: #3d526b;
    border: 1px solid white;
    color: white;
    outline: none;
}

button:hover {
    transition: all 0.5s ease-in-out;
    background: gainsboro;
    border: 2px solid #a77f64;
    color: #02040e;
}