body {
    background-color: gray;
}

div {
    width: 500px;
    height: 300px;
    background-color: bisque;
    -webkit-transform: skew(30deg, 30deg) scale(0.7, 1); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -moz-transform: skew(30deg, 30deg) scale(0.7, 1);
    -ms-transform: skew(30deg, 30deg) scale(0.7, 1); /* IE 9 */
    transform: skew(30deg, 30deg) scale(0.7, 1); /* IE 10, Fx 16+, Op 12.1+ */
   

    /* transform: rotate(45Deg); */
    /* transform: scale(2); 2X o tamanho da imagem (x, y) */
    /* transform: skew(45deg); */

}